:root {
    --gap: 5px;
    --border: 2px;
    --padding: 5px;

    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

a:not(.special),
button {
    background: #d0d0d0;
    padding: var(--padding);
    color: #000;
    text-decoration: none;
    border: #000 solid var(--border);

    width: fit-content;

    box-sizing: border-box;
}

a:not(.special):hover,
button:hover {
    filter: brightness(0.9);
    border-style: dotted;
    cursor: pointer;
}

.rootlink {
    gap: 0;
    display: flex;
    flex-direction: row;
}
