@import url(./palette.css);

#container {
    position: sticky;
    top: var(--padding);
    left: var(--padding);
    padding: var(--padding);

    width: fit-content;

    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

body {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);
}

/* config */

.config-editor {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

#configEditor {
    width: 350px;
    resize: none;
}
