body {
    flex-direction: column;
    gap: var(--gap);
}

#input,
#output {
    background-color: #fff;
    border: 1px solid #000;
    padding: var(--padding);

    min-height: 32px;
}

.domino {
    font-size: 32px;
}

p:not(.rootlink) {
    margin: 0;
}
